@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



* {
    color: black;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    user-select: none;
    outline: none;
    font-family: Poppins;
    font-weight: 400;
}

body {
    margin-top: 10%;
}

ul, li {
    list-style: none;
}

html {
    transition: 2s;
    scroll-behavior: smooth;
}

@media screen and (min-width: 768px) {
    .menu {
        visibility: hidden;
    }
    
}


@media (max-width: 768px) {

    .menu {
        display: block;
        visibility: visible;
    }

    .menu.active {
        color: black;
        background-color: white;
    }
    
    .nav-ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: fixed;

        top: -100%;
        margin-top: 50vh;
        width: 70vw;
        height: 50vh;

        overflow: hidden;

        border-radius: 15px;
        background-color: black;
        transition: 1s;
    }
    .nav-ul.active {
        justify-content: center;

        overflow: visible;

        top: -35%;
    }
    
    .nav-li {
        flex-direction: column;
    }
    
}


.mobile-menu {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 5%;
}


.menu{
    color: white;
    border: solid 2px #2e2e2e;
    cursor: pointer;

    width: 30px;
    height: 20px;

    font-size: 25px;
    padding: 5px 10px;
    border-radius: 10px;
}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
}

.container-nav {
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    
    background-color: black;
    
    border-radius: 15px;
    width: 95%;
    height: 10%;
    margin: 2%;
    
    
}

.nav-ul{
    display: flex;
    justify-content: center;
    
    gap: 15%;
    
}

.nav-li {
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}

.nav-li a {
    
    color: rgb(255, 255, 255);
}



.section {
    height: 100vh;
}

#btn-up {
    position: fixed;
    cursor: pointer;
    right: 50px;
    bottom: 50px;
    font-size: 25px;
    padding: 5px;
    transition: 0.4s;
    transform: translateY(0px);
    animation: floating 2s ease-in-out infinite;

    color: #000000;
    border: solid 2px #000000;
    border-radius: 50px;
    background-color: white;
    
}

#btn-up:hover {
    transition: 0.4s;
    color: #ffffff;
    border: solid 2px #000000;
    height: 60px;
    background-color: rgb(0, 0, 0);
    animation: none;
}

@keyframes floating {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-8px);
    }
    100% {
        transform: translateY(0px);
    }
}
